{% extends 'base.html'%}
{% block title %}
    Add user page
{% endblock %}

{% block content%}
    <div class="container">
        <form method="POST" class="form-register" style="color: peru;">
        <br>
        {{ form.hidden_tag() }}
        {{ form.name.label() }}
        {{ form.name(class="form-control", placeholder="Name of the Person") }}
        {{ form.address.label() }}
        {{ form.address(class="form-control", placeholder="address") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form> 
    </div>
{% endblock%}